.footer {
  background-color: #2f303a;
  color: var(--third-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  address {
    font-style: normal;
  }

  .contact__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
    &:hover,
    &:focus {
      color: var(--fourth-text-color);
    }
  }
}

footer {
  .social-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .social-logo {
    fill: var(--primary-back-color);
  }
  .logo__link {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-iformation {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-contact-block {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.adress-information {
  @media screen and (max-width: 767px) {
    margin: 0 0 60px 0;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 70px 0 0;
  }
}
.adress-item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.social-information {
  margin: 0 0 60px 0;

  @media screen and (min-width: 768px) {
    margin: 0 0 0 0;
    padding-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    margin: 0 93px 0 0;
  }
}
