.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: linear;
  .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
}


