.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--fourth-text-color);
  cursor: pointer;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background-color: #188ce8;}
}