.logo__link {
  font-family: var(--second-text-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__text {
  color: var(--primary-text-color);
}

.logo__text--white {
  color: var(--third-text-color);
}
