.form-data {
  display: flex;
  flex-direction: column;
  padding: 40px 39px 40px 41px;
}
.form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 12px;
}

.form-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 10px;
}

.form-item-last {
  margin-bottom: 20px;
}

.form-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0 12px 48px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border: 1px solid #2196f3;
  }
}

.form-message {
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-btn {
  font-family: Roboto;
  align-self: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 0;
}

.form-field-holder {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-field:focus + & {
    fill: var(--fourth-text-color);
  }
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
  }
  .modal-checkbox:checked + &::before {
    background-image: url(../images/check.svg);
    background-size: contain;
    border: 0;
  }
}
