.form-head-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.form-field-footer {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--third-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.form-btn-footer {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-icon-footer {
  fill: var(--third-text-color);
  margin-left: 10px;
}

.sub-footer {
  display: flex;
}

.form-footer {
  padding-top: 12px;
}
