:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --fourth-text-color: #2196f3;
  --primary-title-color: #212121;
  --second-title-color: #ffffff;
  --primary-text-font: "Roboto";
  --second-text-font: "Raleway";
  --primary-back-color: #ffffff;
  --second-back-color: #c4c4c4;
}